<footer>
  <ul class="flex justify-center gap-10 p-3 bg-footerGray text-sm font-semibold">
    <li>Privacy Policy</li>
    <li>About</li>
    <li>Home</li>
    <li>Sign up</li>
    <li>Sign in</li>
  </ul>
  <p class="text-center p-4 bg-mainColor text-white">
    Survey Rails App @ 2024 | Lucas Hauptmann
  </p>
</footer>